USE [TPI_Progra3]
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarEmpleados] Fecha de script: 30/6/2026 15:17:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ListarEmpleados]
AS
BEGIN
    SELECT 
        U.ID,
        P.Nombre + ' ' + P.Apellido AS NombreCompleto
    FROM Usuarios U
    INNER JOIN Personas P ON U.IDPersona = P.ID
    INNER JOIN Roles R ON U.IDRol = R.ID
    WHERE R.Nombre IN ('Telefonista', 'Administrador', 'Supervisor')
    AND U.Activo = 1
    AND P.Activo = 1;
END;